{% extends "base.html" %}

{% block title %}Добавление работника - CRM Пропусков{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/employee_detail/style.css') }}">
{% endblock %}

{% block content %}
<div class="employee-card">
    <h2 class="title">Добавление работника</h2>
    <form id="employee-form" class="employee-form">
        <div class="form-group">
            <label for="name">ФИО:</label>
            <input type="text" id="name" name="full_name" required>
        </div>
        <div class="form-group">
            <label for="phone">Телефон:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <div class="form-group">
            <label for="role">Роль:</label>
            <select class="custom-select" id="role" name="role">
                <option value="employee" selected>Работник</option>
                <option value="security">Охраник</option>
                <option value="admin">Администратор</option>
            </select>
        </div>
        <div class="form-group">
            <label for="group">Группа:</label>
            <select class="custom-select" id="group" name="group_id">
                <option value="" selected>Не установлено</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="object">Объект:</label>
            <select class="custom-select" id="object" name="object_id">
                <option value="" selected>Не установлено</option>
                {% for object in objects %}
                    <option value="{{ object.id }}">{{ object.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="sanitary-table">Таблица разрывов:</label>
            <select class="custom-select" id="sanitary-table" name="sanitary_table">
                {% for sanitary_table in sanitary_tables %}
                    <option value="{{ sanitary_table.value }}">{{ sanitary_table.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn success" id="save-btn"><i class="fas fa-save"></i> Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/base/imask.min.js') }}"></script>
<script src="{{ url_for('static', path='/employee_add/script.js') }}"></script>
{% endblock %}
