{% extends "base.html" %}

{% block title %}Объект - CRM Пропусков{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/table/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/object/style.css') }}">
{% endblock %}

{% block content %}
<div class="object-details">
    <div class="object-header">
        <h2 id="object-title" class="object-title"></h2>
        <div>
            {% if user.is_superuser %}
            <a class="btn primary" href="/objects/edit/{{object_id}}">Редактировать</a>
            {% endif %}
            <span class="status" id="object-status"></span>
        </div>
    </div>

    <details class="table-section">
        <summary class="section-title">Активные охранники</summary>
        <table class="employee-table">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Время входа</th>
                </tr>
            </thead>
            <tbody id="securityTable"></tbody>
        </table>
    </details>


    <details class="table-section">
        <summary class="section-title">Активные работники</summary>
        <table class="employee-table">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Время входа</th>
                </tr>
            </thead>
            <tbody id="employeeTable"></tbody>
        </table>
    </details>
</div>

{% include "visit_table_modal.html" %}
{% endblock %}

{% block scripts %}
<script>const CURRENT_OBJECT = {{ object_id }}</script>
<script type="module" src="{{ url_for('static', path='/object/script.js') }}"></script>
{% endblock %}