{% extends "base.html" %}

{% block title %}Объекты - CRM Пропусков{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/objects/style.css') }}">
{% endblock %}

{% block content %}
<div class="header">
    <h2 class="title">Объекты</h2>
    {% if user.is_superuser %}
    <a class="add-object-btn" href="/objects/add/">Добавить объект</a>
    {% endif %}
</div>

<div id="objects-container"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/objects/script.js') }}"></script>
{% endblock %}


