{% extends "base.html" %}

{% block title %}Объект - CRM Пропусков{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/employee_detail/style.css') }}">
{% endblock %}

{% block content %}
<div class="employee-card">
    <h2 class="title">Информация о работнике</h2>
    <form id="employee-form" class="employee-form">
        <div class="form-group">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" value="{{ object.name }}" disabled>
        </div>
        <div class="form-group">
            <label for="status">Статус:</label>
            <select class="custom-select" id="status" name="status" disabled>
                <option value="Открыт" {% if object.status.value == "Открыт" %}selected{% endif %}>Открыт</option>
                <option value="Закрыт" {% if object.status.value == "Закрыт" %}selected{% endif %}>Закрыт</option>
            </select>
        </div>
        <div class="form-actions">
            <button type="button" class="btn primary" id="edit-btn"><i class="fas fa-pen"></i> Редактировать</button>
            <button type="submit" class="btn success hidden" id="save-btn"><i class="fas fa-save"></i> Сохранить</button>
            <button type="button" class="btn secondary hidden" id="cancel-btn"><i class="fas fa-times"></i> Отменить</button>
            {% if object.is_deleted %}
                <button type="button" class="btn restore" id="restore-btn"><i class="fas fa-undo"></i> Восстановить</button>
            {% else %}
                <button type="button" class="btn danger" id="delete-btn"><i class="fas fa-trash"></i> Удалить</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>const CURRENT_OBJECT = {{ object.id }}</script>
<script src="{{ url_for('static', path='/object_detail/script.js') }}"></script>
{% endblock %}
