{% extends "base.html" %}

{% block title %}Настройки - CRM Пропусков{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/table/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/settings/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/filters/style.css') }}">
{% endblock %}

{% block content %}
<h2 class="title">Настройки</h2>

<div class="tabs">
    <button class="tab-btn active" data-tab="sanitary">История санитарных разрывов</button>
    {% if user.is_superuser %}
    <button class="tab-btn" data-tab="users">Пользователи</button> 
    <button class="tab-btn" data-tab="add_user">Добавить пользователя</button>
    {% endif %}
    <button class="tab-btn" data-tab="account">Аккаунт</button>
</div>

<!-- Вкладка 1 -->
<div id="sanitary" class="tab-content active">
    <div class="subtabs">
        <button class="subtab-btn active" data-type="main">Основные</button>
        <button class="subtab-btn" data-type="car">Водители</button>
        <button class="subtab-btn" data-type="tractor">Трактористы</button>
    </div>
    <div class="controls">
        <div class="custom-select-wrapper">
            <select id="searchObjectFirst" class="custom-select filter"></select>
        </div>
        <div class="custom-select-wrapper">
            <select id="searchObjectSecond" class="custom-select filter"></select>
        </div>
        {% include "calendar.html" %}
    </div>

    <div class="table-container">
        <table id="sanitaryTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Пользователь</th>
                    <th>Дата</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

{% if user.is_superuser %}
<!-- Вкладка 2 -->
<div id="users" class="tab-content">
    <div class="table-container">
        <table id="usersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Никнейм</th>
                    <th>ФИО</th>
                    <th class="hide-on-small">Телефон</th>
                    <th class="hide-on-small">Админ</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<!-- Вкладка 3 -->
<div id="add_user" class="tab-content">
    <form id="addUserForm" class="add-user-form">
        <h3 class="section-title">Добавление пользователя</h3>
        <div class="input-wrapper">
            <i class="fas fa-user"></i>
            <input type="text" id="addUsername" placeholder="Никнейм" required>
        </div>
        <div class="input-wrapper">
            <i class="fas fa-id-card"></i>
            <input type="text" id="addFullName" placeholder="ФИО" required>
        </div>
        <div class="input-wrapper">
            <i class="fas fa-phone"></i>
            <input type="tel" class="phone-input" id="addPhone" placeholder="Телефон" required>
        </div>
        <div class="input-wrapper">
            <i class="fas fa-lock"></i>
            <input type="text" id="addGeneratedPassword" placeholder="Пароль" required>
        </div>
        <div class="form-actions center">
            <button type="button" onclick="generatePassword()"  class="btn warning">
                <i class="fas fa-random"></i> Сгенерировать пароль
            </button>
            <button type="submit" class="btn primary">
                <i class="fas fa-user-plus"></i> Добавить пользователя
            </button>
        </div>
    </form>
</div>
{% endif %}


<!-- Вкладка 4 -->
<div id="account" class="tab-content">
    <form id="accountForm" class="account-form">
        <h3 class="section-title">Личная информация</h3>

        <div class="input-wrapper">
            <i class="fas fa-user"></i>
            <input type="text" id="accountUsername" placeholder="Никнейм" value="{{ user.username }}" required disabled>
        </div>
        <div class="input-wrapper">
            <i class="fas fa-id-card"></i>
            <input type="text" id="accountFullName" placeholder="ФИО" value="{{ user.full_name }}" required disabled>
        </div>
        <div class="input-wrapper">
            <i class="fas fa-phone"></i>
            <input type="tel" class="phone-input" id="accountPhone" placeholder="Телефон" value="{{ user.phone }}" required disabled>
        </div>

        <div class="form-actions center">
            <button type="button" id="editAccountBtn" class="btn primary">
                <i class="fas fa-edit"></i> Редактировать
            </button>
            <button type="submit" id="saveAccountBtn" class="btn success" style="display: none;">
                <i class="fas fa-save"></i> Сохранить
            </button>
            <button type="button" id="cancelEditBtn" class="btn danger" style="display: none;">
                <i class="fas fa-times"></i> Отмена
            </button>
            <button type="button" id="changePasswordBtn" class="btn warning">
                <i class="fas fa-key"></i> Сменить пароль
            </button>
        </div>
        
    </form>
</div>




<!-- Модальное разрывов -->
<div id="breaksModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeBreaksModal" >&times;</span>
        <div class="modal-body">
            <h3>Детали записи</h3>
            <p><strong>ID:</strong> <span id="modalBreakId"></span></p>
            <p><strong>Пользователь:</strong> <span id="modalBreakUser"></span></p>
            <p><strong>Дата:</strong> <span id="modalBreakDate"></span></p>
            <p><strong>Описание</strong> <span id="modalBreakAction"></span></p>
        </div>    
    </div>
</div>



<!-- Модальное пользователей -->
<div id="usersModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeUsersModal" >&times;</span>
        <div class="modal-body">
            <h3>Детали записи</h3>
            <p><strong>ID:</strong> <span id="modalUserId"></span></p>
            <p><strong>Никнейм:</strong> <span id="modalUserNickname"></span></p>
            <p><strong>ФИО:</strong> <span id="modalUserFullName"></span></p>
            <p><strong>Телефон:</strong> <span id="modalUserPhone"></span></p>
            <p><strong>Админ:</strong> <span id="modalUserSuperuser"></span></p>
        </div>    
    </div>
</div>


<!-- Модальное окно смены пароля -->
<div id="passwordModal" class="modal-password">
    <div class="modal-content-password">
        <span class="close" id="closeModal">&times;</span>
        <h3 class="modal-title-password">Смена пароля</h3>
        <form id="passwordForm">
            <div class="input-wrapper">             
                <input type="password" id="currentPassword" placeholder="Текущий пароль" required>
                <span class="password-toggle" onclick="togglePassword(this)">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <div class="input-wrapper">
                <input type="password" id="newPassword" placeholder="Новый пароль" required>
                <span class="password-toggle" onclick="togglePassword(this)">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <div class="input-wrapper">
                <input type="password" id="confirmPassword" placeholder="Подтвердите пароль" required>
                <span class="password-toggle" onclick="togglePassword(this)">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            <div class="form-actions center">
                <button type="submit" class="btn success">
                    <i class="fas fa-check"></i> Сменить
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/base/imask.min.js') }}"></script>
<script src="{{ url_for('static', path='/settings/script.js') }}"></script>
{% endblock %}
