<!-- Модальное окно -->
<div id="modal-employee" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-body">
            <h3>Детали записи</h3>
            <p><strong>ID:</strong> <span id="modalIdLogEmployee"></span></p>
            <p><strong>Объект:</strong> <span id="modalLogObjectEmployee"></span></p>
            <p><strong>Время входа:</strong> <span id="modalEntryTimeEmployee"></span></p>
            <p><strong>Время выхода:</strong> <span id="modalExitTimeEmployee"></span></p>

            <br><h4>Работник</h4>
            <p><strong>ID:</strong> <a id="modalIdEmployee" target="_blank"></a></p>
            <p><strong>ФИО:</strong> <span id="modalNameEmployee"></span></p>
            <p><strong>Телефон:</strong> <span id="modalPhoneEmployee"></span></p>
            <p><strong>Объект:</strong> <span id="modalObjectEmployee"></span></p>
            <p><strong>Группа:</strong> <span id="modalGroupEmployee"></span></p>
            <p><strong>Таблица разрывов:</strong> <span id="modalSanitaryTableEmployee"></span></p>
            
            <br><h4>Охраник</h4>
            <p><strong>ID:</strong> <a id="modalIdScanerEmployee" target="_blank"></a></p>
            <p><strong>ФИО:</strong> <span id="modalNameScanerEmployee"></span></p>
            <p><strong>Телефон:</strong> <span id="modalPhoneScanerEmployee"></span></p>
        </div>
    </div>
</div>

<div id="modal-security" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="modal-body">
            <h3>Детали записи</h3>
            <p><strong>ID:</strong> <span id="modalIdLogSecurity"></span></p>
            <p><strong>Объект:</strong> <span id="modalLogObjectSecurity"></span></p>
            <p><strong>Время входа:</strong> <span id="modalEntryTimeSecurity"></span></p>
            <p><strong>Время выхода:</strong> <span id="modalExitTimeSecurity"></span></p>
    
            <h4>Работник</h4>
            <p><strong>ID:</strong> <a id="modalIdSecurity" target="_blank"></a></p>
            <p><strong>ФИО:</strong> <span id="modalNameSecurity"></span></p>
            <p><strong>Телефон:</strong> <span id="modalPhoneSecurity"></span></p>
            <p><strong>Объект:</strong> <span id="modalObjectSecurity"></span></p>
            <p><strong>Группа:</strong> <span id="modalGroupSecurity"></span></p>
        </div>
    </div>
</div>