.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.controls input {
    padding: 8px;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}









.custom-select-wrapper {
    position: relative;
    width: 45%;
}

.custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-size: 16px;
    cursor: pointer;
}

.custom-select:focus {
    border-color: #007bff;
    outline: none;
}